.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 200px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #fff;
    // width: 100%;
    .logo-wrap{
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .wrap{
        display: flex;
        align-items: center;
        gap: 15px;
        // font-size: 18px;
        // font-weight: 600;  
        span{
            font-size: 15.35px;
            font-weight: 500;
            color: #303030;
        }
        button{
            margin-left: 5px;
            padding: 12px 20px;
            border-radius: 10px ;
            border: none;
            color: #fff;
            background-color: #113454;
            font-size: 15.35px;
            font-weight: 500;
        }
    }
}