@use "../mixins.scss";
.discover-container {
  padding: 0px 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.respond(phone) {
    padding: 0px 10px;
  }
  @include mixins.respond(tab) {
    padding: 0px 50px;
  }
  .discover-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    @include mixins.respond(phone) {
      flex-direction: column;
      gap: 35px;
    }
    @include mixins.respond(tab) {
      flex-direction: column;
      gap: 35px;
    }
    .left {
      width: 50%;
      display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      @include mixins.respond(phone) {
        width: 100%;
        
      }
      @include mixins.respond(tab) {
        width: 100%;
      }
      header {
        font-size: 35.24px;
        font-weight: 700;
        line-height: 54.48px;
        text-align: left;
        margin-bottom: 8px;
        @include mixins.respond(phone) {
          font-size: 24px;
          line-height: 34.48px;
          text-align: center;
        }
        @include mixins.respond(tab) {
          font-size: 32px;
          line-height: 32.48px;
        }
      }
      button {
        width: 359px;
        height: 70px;
        border-radius: 7.86px;
        background-color: #113454;
        color: #fff;
        font-size: 18px;
        @include mixins.respond(phone) {
          font-size: 14px;
          width: 259px;
        height: 40px;
        display: block; /* Makes the button a block-level element */
  margin: 10px auto 0; 
        }
        @include mixins.respond(tab) {
          width: 359px;
          height: 60px;
        }
      }
    }
    .right {
      position: relative;
      width: 50%;
      @include mixins.respond(phone) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .big-box {
        width: 486px;
        height: 544px !important;
        // background: #E0F1DF;
        border-radius: 20px;
        background-color: #e0f1df;
        @include mixins.respond(phone) {
          width: 75%;
        }
      }
      .small-box-wrap {
        display: flex;
        align-items: center;
        background: #fff;
        width: fit-content;
        padding: 20px;
        border-radius: 20px;
        gap: 10px;
        box-shadow: 5px 7px 4px 0px #00000040;
        @include mixins.respond(phone) {
          width: 75%;
        }

        &.one {
          position: absolute;
          top: 20px;
          left: -80px;
          @include mixins.respond(phone) {
            left: -1px;
          }
          @include mixins.respond(tab) {
            left: -70px;
          }
        }
        &.two {
          position: absolute;
          top: 250px;
          right: -20px;
          @include mixins.respond(phone) {
            right: -1px;
            top: 200px;
          }
          @include mixins.respond(tab) {
            right: -130px;
            top: 240px;
          }
        }
        &.three {
          position: absolute;
          bottom: 20px;
          left: -80px;
          @include mixins.respond(phone) {
            left: -1px;
          }
        }

        // &.1-core{
        //   position: absolute;
        //   top: 20px;
        //   left: -80px;
        // }
        // &.2-core{
        //   position: absolute;
        //   top: 20px;
        //   left: -80px;
        // }
        // &.3-core{
        //   position: absolute;
        //   top: 20px;
        //   left: -80px;
        // }
        // &.4-core{
        //   position: absolute;
        //   top: 20px;
        //   left: -80px;
        // }

        .img-wrap {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #d9d9d9;
          display: flex;
          align-items: center;

          img {
            // width: 48px;
            // height: 48px;
            // border-radius: 50%;
          }
        }

        .wrap {
          display: flex;
          flex-direction: column;
          padding: 0px;
          span {
            font-size: 18px;
            font-weight: 700;
            line-height: 22.68px;
            text-align: left;
            color: #282628;
            @include mixins.respond(phone) {
              font-size: 12.3px;
            }
          }
          p{
            font-size: 18px;
            font-weight: 400;
            line-height: 22.68px;
            text-align: left;
            color: #282628;
            @include mixins.respond(phone) {
              font-size: 12.3px;
            }
          }
        }
      }
    }
  }
}
