@use "../mixins.scss";
.features-container {
  padding: 0px 200px;
  min-height: 100vh;
  background: #F5FCFB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mixins.respond(phone) {
    padding: 30px 10px;
  }
  @include mixins.respond(tab) {
    padding: 0px 50px;
    min-height: 80vh
  }
  header {
    text-align: center;
    font-size: 43.24px;
    font-weight: 700;
    line-height: 54.48px;
    margin-bottom: 20px;
    @include mixins.respond(phone) {
      font-size: 24px;
      line-height: 28.48px;
    }
    @include mixins.respond(tab) {
      font-size: 30.24px;
    }
  }

  .feature-wrap {
    display: flex;
    align-items: center;
    gap: 30px;
    @include mixins.respond(phone) {
      flex-direction: column;
    }
  }
  .left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mixins.respond(phone) {
      width: 100%;
    }
    @include mixins.respond(tab) {
      width: 100%;
    }
    img {
      width: 80%;
      @include mixins.respond(phone) {
        width: 95%;
      }
      @include mixins.respond(tab) {
        width: 100%;
      }
    }
  }
  .right {
    width: 50%;
    @include mixins.respond(phone) {
      width: 100%;
      padding: 0px 10px;
    }
    .list-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 6px;
      @include mixins.respond(tab) {
        gap: 12px;
        margin-bottom: 14px;
      }
      .dot-wrap{

        .dot {
            width: 15px;
            height: 15px;
            border-radius: 50%; /* Ensures the shape is a perfect circle */
            background-color: #113454;
            display: inline-block; /* Makes the dot behave like a text character */
            box-sizing: border-box; /* Ensures padding and border don't affect width/height */
            margin: 0; /* Removes any default margin */
            padding: 0;
            @include mixins.respond(phone) {
              width: 10px;
            height: 10px;
            }
          }

      }
      
      .text-wrap {
        font-size: 22.93px;
        font-weight: 400;
        line-height: 31.42px;
        @include mixins.respond(phone) {
          font-size: 14px;
          line-height: 21.42px;
        }
        @include mixins.respond(tab) {
          font-size: 18.93px;
          line-height: 28.42px;
        }
        span {
          font-size: 22.93px;
          font-weight: 700;
          line-height: 31.42px;
          @include mixins.respond(phone) {
            font-size: 14.3px;
          }
          @include mixins.respond(tab) {
            font-size: 18.93px;
            line-height: 28.42px;
          }
        }
      }
    }
    button {
      background-color: #113454;
      color: #fff;
      width: 429px;
      height: 70px;
      border-radius: 7.85px;
      font-size: 18.09px;
      @include mixins.respond(phone) {
        font-size: 14.3px;
        width: 329px;
      height: 40px;
      }
      @include mixins.respond(tab) {
        width: 429px;
      height: 50px;
      }
    }
  }
}
