@import "../mixins.scss";
.next-container {
  padding: 0px 200px;
  min-height: 50vh;
  @include respond(phone) {
    padding: 0px 10px;
    margin: 30px 0px;
    margin-top: 30px;
  }

  .next-wrap {
    background-color: #113454;
    height: 366px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      padding: 10px;
      border-radius: 10px;
    }
    p {
      font-size: 43.24px;
      font-weight: 700;
      line-height: 54.48px;
      text-align: center;
      margin-bottom: 20px;
      color: #fff;
      @include respond(phone) {
        font-size: 22px;
        line-height: 28.48px;
      }
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      gap: 15px;
      @include respond(phone) {
        flex-direction: column;
        gap: 8px;
        
      }
      button {
        // width: 154px;
        // height: 50px;
        padding: 15px 30px;
        background-color: #fff;
        color: #113454;
        font-size: 18px;
        border-radius: 7.8px;
        @include respond(phone) {
          font-size: 14px;
          padding: 12px 30px;
          
        }
      }
      button:nth-child(2) {
        border: solid 1px grey;
        background-color: #113454;
        color: #fff;
      }
    }
  }
}
